{% extends 'base.html.twig' %}

{% block body %}

<div class="page_choix_missions">
    <h1>Choisis ta Mission</h1>
    <div class="row container-fluid">
    	<div class="col-md-12 missions_line">
    		<div class="col-md-3 col-md-offset-2 mission_block"><a href="{{ path('mission1') }}"><img style="position: relative; left:0;top:0;"width="303" height="148"id="1" src="{{ asset ('img/mission1.png') }}" /><p style="width: 250px; height: 150px; top: 100px; left: 32px; margin: 0; position: absolute; color: white; font-size:35px;">
    		Pizzeria</p>
  			</a></div>
    		<div class="col-md-3 col-md-offset-2 mission_block"><a href="{{ path('mission2') }}"><img style="position: relative; left:0;top:0;"width="303" height="148"id="1" src="{{ asset ('img/mission2.png') }}" /><p style="width: 250px; height: 150px; top: 100px; left: 32px; margin: 0; position: absolute; color: white; font-size:35px;">
    		Pharmacie</p>
  			</a></div>
		</div>
		<div class="col-md-12 vide1"></div>
    	<div class="col-md-12 missions_line">
    		<div class="col-md-3 col-md-offset-2 mission_block"><a href="{{ path('mission3') }}"><img style="position: relative; left:0;top:0;"width="303" height="148"id="1" src="{{ asset ('img/mission3.png') }}" /><p style="width: 250px; height: 150px; top: 100px; left: 32px; margin: 0; position: absolute; color: white; font-size:35px;">
    		Banque</p>
  			</a></div>
    		<div class="col-md-3 col-md-offset-2 mission_block"><a href="{{ path('mission4') }}"><img style="position: relative; left:0;top:0;"width="303" height="148"id="1" src="{{ asset ('img/mission4.png') }}" /><p style="width: 250px; height: 150px; top: 100px; left: 32px; margin: 0; position: absolute; color: white; font-size:35px;">
    		Boulangerie</p>
  			</a></div>
		</div>
	</div>
</div>

{% endblock %}