<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Guessr{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('yourFavIcon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script> 
    </head>

{% trans_default_domain 'FOSUserBundle' %}

    <body>
        <div class="container-fluid rambo">
            <div class="col-md-12 vide"></div>
            <div class="col-md-12">
                
                <div class="col-md-4 blanc">
                    <div class="col-md-12">
                        <h2 class="log-title">GUESSR</h2>
                    </div>
                    <div class="col-md-12">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    </div>
                <div>
                    <form action="{{ path("user_login") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="username"><span>Pseudo :</span></label>
                            </div>
                            <div class="col-md-6">
                                <input class="champ-log" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>
                        <div class"col-md-12">
                            <div class="col-md-6">
                                <label for="password"><span>Mot de Passe :</span></label>
                            </div>
                            <div class="col-md-6">
                                <input class="champ-log" type="password" id="password" name="_password" required="required" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            
                            <div class="col-md-6">
                                <label for="remember_me"><span>Se souvenir de moi :</span></label>
                            </div>
                            <div class="col-md-5">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <input type="submit" class="btnlogin" id="_submit" name="_submit" value="Envoyer" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>Nouveau ?<a href="{{ path('user_register') }}">
                                    <input type="submit" class="btnlogin" id="_submit" name="_submit" value="Inscription" />
                                </a></p> 
                        </div>
                    </form>
                </div>
        </div>
    </body>
</html>